---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./*.md', { eager: true }));
allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
const pageTitle = "All my posts";
---
<BaseLayout pageTitle={pageTitle}>
	<p>This is where you can find all my posts.</p>
	<div class="post-list">
		{allPosts.map((post: any) => <BlogPost url={post.url} content={post.frontmatter} />)}
	</div>
</BaseLayout>