:root{
  --blanco-roto: #f1f5f9;
  --azul-principal: #00309a;
  --azul-secundario:#2E2EF2;
  --azul-claro: #2EAAF2;
  --morado: #6E2EF2;
  --purpura:#AE2EF2;
}
html {
  background-color: var(--blanco-roto);
  font-family: sans-serif;
  margin:0;
  padding:0;
}

body {
  line-height: 1.5;
  margin:0;
  padding:0;
}
header{
  background-color: var(--azul-principal);
}
.content{
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
}
* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: var(--azul-principal);
}
/* nav styles */
nav{
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
}
.hamburger {
  padding-right: 20px;
  cursor: pointer;
  visibility: visible;
  display: block;
  padding:5px;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color:  var(--blanco-roto);
}
.nav-links {
  width: 100%;
  top: 5rem;
  display: none;
}
.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color:  var(--blanco-roto);
}
.nav-links a.active {
   background-color: var(--morado);
}
.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--azul-claro);
}

.expanded {
  display: unset;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 0.25em;
  border: dotted 1px #a1a1a1;
  border-radius: .5em;
  padding: .5em 1em;
  font-size: 1.15em;
  background-color: #F8FCFD;
}
.tag a{
  text-decoration: none;
  text-transform: capitalize;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
    visibility: hidden;
    display: none;
  }
}