---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const postsInHome=2;
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
const homePosts=allPosts.slice(0,postsInHome);
const showarchivelink=(allPosts.length)>postsInHome;
const pageTitle = "Home Page - Last Posts";
---
<BaseLayout pageTitle={pageTitle}>
	<div class="post-list">
	{homePosts.map((post: any) => <BlogPost url={post.url} content={post.frontmatter} />)}
	</div>
	{showarchivelink && <div class="moreposts"><a href="/posts/">Check more posts</a></div>}
</BaseLayout>